/* CSS del Proyecto Crud de María López López */

/* Fuente utilizada en la página */
@font-face {
    font-family: texto1;
    src: url("../fonts/hadijah-free-trial.ttf");
}

/* Estilado general */
* {box-sizing: border-box;}

html {height: 100vh;}

body {
    margin: 0;
    padding: 0 5%;
    background: linear-gradient(50deg, rgb(97, 97, 97),  #000000);
    font-family: "Montserrat";
    color: #fff;
    background-image: url(../imagenes/Wallpaper_Listado.webp);}

/* Contenedor de la tabla */
.container {position: absolute; width: 90%;}

/* Estilado iconos */
table tbody .fa, #insertar {cursor: pointer; font-size: 2em;}
table tbody .fa-window-close:hover {color: rgb(238, 78, 78); transition: 0.5s ease-in;}
table tbody .fa-refresh:hover {color: rgb(236, 183, 83); transition: 0.5s ease-in;}

/* Estilado icono + y botón inserción */

#insertar {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    bottom: -17.5%;
    left: 15px;
    font-size: 1.75rem;
    font-family: texto1;
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
}

#insertar:hover {
    border-color: rgb(164, 231, 76); 
    background-color: rgb(164, 231, 76, 0.2);
    color: rgb(164, 231, 76); 
    transition: 1s ease-out; }

/* Estilado tabla */
table {
    margin-top: 25px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    padding: 1em;
    height: 350px;
    border-radius: 35px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5.75px);
    box-shadow: 2.5px 2.5px 100px rgba(0, 0, 0, 0.65);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;}

table tbody {margin-bottom: 10%;}

table caption {
    font-size: 2em;
    margin: .5em 0 .75em;
    font-family: texto1;}

table th,
table td {
    padding: .625em;
    font-size: 1em;
    text-align: center;}

table th {
    font-size: 1.1em;
    font-family: texto1;
    border-bottom: 7.5px solid #dbdbdb;
    color: #dfdfdf;
    letter-spacing: .1em;
    text-transform: uppercase;}

table tr:nth-child(even) {background: rgba(197, 197, 197, 0.25);}

/* Estilado de mini glasses ubicados alrededor del CRUD */

.drop-1 {
    height: 80px;
    width: 80px;
    top: 37.5%;
    left: -67.5px;}
.drop-2 {
    height: 77.5px;
    width: 75px;
    bottom: -47.5px;
    right: -10px;}
.drop-3 {
    height: 70px;
    width: 70px;
    top: 83px;
    right: -18px;}
.drop-4 {
    height: 75px;
    width: 75px;
    top: 60px;
    left: 32.5%;
    z-index: -1;}
.drop-5 {
    height: 75px;
    width: 75px;
    bottom: -12.5%;
    left: 25%;
    z-index: -1;}
.drop-6 {
    height: 105px;
    width: 105px;
    bottom: 10%;
    left: 70%;
    z-index: -1;}
.drop-7 {
    height: 55px;
    width: 55px;
    top: 17.5%;
    right: 17.5%;
    z-index: -1;}
.drop-8 {
    height: 65px;
    width: 65px;
    top: 35%;
    left: 13.5%;
    z-index: -1;}
.drop-9 {
    height: 80px;
    width: 80px;
    bottom: -27.5px;
    left: -20px;
    z-index: -1;}
.drop-10 {
    height: 132.5px;
    width: 132.5px;
    bottom: 30%;
    left: 47.5%;
    z-index: -1;}
    
/* Media Queries */
@media screen and (max-width: 1385px) {.drop-1 {left: -32.5px; z-index: -1;}}

@media screen and (max-width: 925px) { .drop-3 {top: 34%; right: -20px; z-index: -1;}}

@media screen and (max-width: 775px) {
    body {background: #000000;}

    #insertar {
        bottom: -5.825%; 
        font-size: 1.15rem; 
        background: rgba(255, 255, 255, 0.325);}

    #insertar:hover {background-color: rgb(164, 231, 76, 0.3);}

    .drop-9 {bottom: -30px; left: 10px;}

    .drop-2 {right: 50px; bottom: -45px;}

    .drop-3, .drop-5 {display: none;}

    .drop-6 {left:22.5%; bottom: 12.5%;}

    .drop-8 {left: 28%;}

    .container{width: 96%;}

    html {height: 110%;}

    body {padding: 0 2%;}

    table tbody .fa {font-size: 1.5em;}

    table {margin: 1em 0em; backdrop-filter: blur(2px);}

    table caption {font-size: 1.65em;}
    
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;}
    
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;}
    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;}
    
    table td::before {
        content: attr(data-label);
        margin-right: 5.5px;
        float: left;
        font-weight: bold;
        text-transform: uppercase;}
    
    table td:last-child {border-bottom: 0;}}

    @media screen and (max-width: 350px) { 
        .drop-2 {z-index: -1; right: 22.5px;}

        .drop-10 {left: 40%; width: 120px; height: 120px;}
    }