/* CSS del Proyecto Crud de María López López */

/* Fuente utilizada en la página */
@font-face {
    font-family: texto1;
    src: url("../fonts/hadijah-free-trial.ttf");
  }
  
  /* Fuentes de textos Titulo y Label */
  #titulo, label {font-family: texto1;}
  
  /* Estilado general */
  body {
    background: linear-gradient(50deg, rgb(121, 121, 121),  #000000);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: url(../imagenes/Wallpaper_mod.jpeg);
  }
  
  /* Contenedor del formulario */
  .container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  /* Estilo del formulario */
  form {
    background: rgba(80, 80, 80, 0.18);
    padding: 2.25em 6.2em 8em 6.2em;
    height: 350px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(9px);
    box-shadow: 2.5px 2.5px 100px rgba(0, 0, 0, 0.65);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  form p {
    font-weight: bold;
    color: #fff;
    opacity: 0.8;
    font-size: 1.75rem;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form a {
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
  }
  label {color: #ffffff; margin-top: 0; padding-top: 0;}
  form a:hover {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2509803922);
  }
  form a:active {
    text-shadow: none;
  }
  form input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 1.1em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: texto1;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form input:hover {
    background: rgba(172, 172, 172, 0.25);
    border: 1px solid white;
    box-shadow: 0px 0px 62.5px rgba(0, 0, 0, 0.775);
  }
  form input[type=username]:focus, form input[type=password]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.3);
  }
  form input[type=submit] {
    width: 150px;
    font-size: 1.075rem;
  }
  form input[type=submit]:hover {
    cursor: pointer;
  }
  form input[type=submit]:active {
    background: rgba(255, 255, 255, 0.2);
  }
  form:hover {
    margin: 8.5px;
    transition: 0.8s;
  }
  
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Estilado de mini glasses ubicados alrededor del formulario */
  .drop {
    
    border-radius: 12.5px;
    position: absolute;

  }
  .drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  .drop-2 {
    height: 75px;
    width: 75px;
    bottom: -30px;
    right: -20px;
  }
  .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  .drop-4 {
    height: 105.5px;
    width: 105.5px;
    top: -45px;
    right: -45px;
  }
  .drop-5 {
    height: 60px;
    width: 60px;
    bottom: 200px;
    left: -35px;
  }
  .drop-6 {
    height: 97.5px;
    width: 100px;
    bottom: -35px;
    left: -35px;
    z-index: -1;
  }
  .drop-7 {
    height: 50px;
    width: 50px;
    bottom: -25px;
    left: 150px;
    z-index: -1;
  }
  .drop-8 {
    height: 90px;
    width: 90px;
    top: -50px;
    left: 150px;
    z-index: -1;
  }
  
  a,
  input:focus,
  select:focus,
  textarea:focus,
  submit:focus {
    outline: none;
  }
  
  /* Media Queries */
  @media screen and (width < 605px) { 
    form input[type=submit] {margin-top: 17.5px;}
    .drop-4 {display: none;}
    form {padding: 3em; padding-top: 2.25em; padding-bottom: 8em;}
  }
  
  @media screen and (width < 465px) {
    .drop-3 {display: none;}
    form {padding: 2.5em;  padding-top: 1.6em; padding-bottom: 8.25em;}
  }
  
  @media screen and (width < 415px) {
      .drop-3, .drop-2 {display: none;}
      form {padding: 1.625em; padding-top: 1.5em; padding-bottom: 8.5em;}
      .drop-1, .drop-5, .drop-6 {display: none;}
      .drop-7 {width: 75px; height: 75px; bottom: -50px; left: 45px}
  }
  
  /*# sourceMappingURL=estilo.css.map */